[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/stepconf
Icon=linuxcncicon
X-GNOME-DocPath=
Terminal=false
Name=Ayudante Stepconf
Comment=Ayudante de Configuracion de Stepper
StartupNotify=false
Categories=X-CNC;
Keywords=cnc;linuxcnc;
